@model AlphaProject.API.ViewModels.GoogleButtonViewModel

<button class="btn btn-gray btn-google">
    <img class="google-icon" src="~/images/google-logotype-icon.svg" asp-append-version="true" />
    <span>@Model.ButtonText</span>
</button>