@model ProjectFormModel
@{
    Model.AvailableMembers ??= new List<ProjectMemberViewModel>();
}
<form asp-action="Edit" asp-controller="Projects" asp-route-id="@Model.ProjectId" method="post" enctype="multipart/form-data" class="modal-form" novalidate>

    <input asp-for="ProjectId" type="hidden" id="ProjectId" />

    <div class="field-group">
        <label asp-for="ProjectName" class="form-label form-label-first"></label>
        <div class="input-wrapper">
            <input asp-for="ProjectName" class="form-input" id="ProjectName" placeholder="Project Name">
            <span asp-validation-for="ProjectName"></span>
        </div>
    </div>

    <div class="field-group">
        <label asp-for="ClientName" class="form-label"></label>
        <div class="input-wrapper">
            <input asp-for="ClientName" class="form-input" id="ClientName" placeholder="Client Name">
            <span asp-validation-for="ClientName"></span>
        </div>
    </div>

    <div class="field-group">
        <label asp-for="Description" class="form-label"></label>
        <div class="input-wrapper">
            <div class="modal-texteditor">
                <div id="editor-container">
                    <div id="editor-edit"></div>
                </div>
                <input asp-for="Description" type="hidden" id="DescriptionEdit">
            </div>
            <span asp-validation-for="Description"></span>
        </div>
    </div>

    <div class="field-group">
        <div class="modal-date-container">
            <div class="modal-date">
                <label asp-for="StartDate" class="form-label"></label>
                <div class="modal-date-wrapper">
                    <input asp-for="StartDate" class="form-input datepicker" id="StartDate" placeholder="Select a date">
                    <i class="fa-solid fa-calendar modal-calendar-icon"></i>
                </div>
                <span asp-validation-for="StartDate"></span>
            </div>
            <div class="modal-date">
                <label asp-for="EndDate" class="form-label"></label>
                <div class="modal-date-wrapper">
                    <input asp-for="EndDate" class="form-input datepicker" id="EndDate" placeholder="Select a date">
                    <i class="fa-solid fa-calendar modal-calendar-icon"></i>
                </div>
                <span asp-validation-for="EndDate"></span>
            </div>
        </div>
    </div>

    <div class="field-group">
        <label asp-for="Members" class="form-label"></label>
        <div class="modal-members-container">
            <div class="modal-members">
                @foreach (var member in Model.AvailableMembers)
                {
                    @await Html.PartialAsync("Partials/Components/_ProjectMember", member)
                }
            </div>
            <div class="modal-search">
                <img src="~/images/search-icon.svg" alt="Search">
            </div>
        </div>
        <span asp-validation-for="Members"></span>
    </div>

    <div class="field-group">
        <label asp-for="Budget" class="form-label"></label>
        <div class="input-wrapper">
            <img src="~/images/dollar-icon.svg" class="modal-input-icon" alt="Dollar">
            <input asp-for="Budget" type="number" class="form-input modal-budget-left-padding" id="Budget" placeholder="0">
            <span asp-validation-for="Budget"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-blue">Save</button>

</form>