@{
    Layout = "_CleanLayout";
    ViewData["Title"] = "Register";
}


<div class="center-screen">
    <div class="surface create-account-form">

        <h1 class="center-content">Create Account</h1>

        <button class="btn btn-gray btn-google">
            <img class="google-icon" src="/images/google-logotype-icon.svg">
            <span>Sign Up with Google</span>
        </button>

        <div class="center-content divider">
            <span class="small-text">OR</span>
        </div>

        <form class="form-container">

            <label for="full-name" class="form-label">Full Name</label>
            <input type="text" id="full-name" class="form-input" placeholder="Your full name">


            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-input" placeholder="Your email address">


            <label for="password" class="form-label">Password</label>
            <div class="input-wrapper">
                <input type="password" id="password" class="form-input" placeholder="Enter your password">
            </div>


            <label for="confirm-password" class="form-label">Confirm Password</label>
            <div class="input-wrapper">
                <input type="password" id="confirm-password" class="form-input form-input-last" placeholder="Confirm your password">
            </div>


            <div class="checkbox-container">
                <input type="checkbox" id="terms">
                <label for="terms">I accept <a href="#">Terms and Conditions</a></label>
            </div>


            <button type="submit" class="btn btn-blue">Create Account</button>
        </form>

        <div class="center-content">
            <p>Already have an account? <a href="#"> Login</a></p>
        </div>


    </div>
</div>