<div class="topbar-content">

    <div class="search-container">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Search anything..." class="search-input">
    </div>

    <div class="icons-wrapper">
        <a href="#">
            <i class="fa-regular fa-bell icons-size-22"></i>
        </a>
        <a href="#">
            <i class="fa-solid fa-gear icons-size-22"></i>
        </a>
        <div class="divider-vertical"></div>
        <a href="#">
            <div class="avatar">
                <img class="avatar-size-40" src="/images/profile-icon-small-1.svg" alt="Profile Picture">
            </div>
        </a>
    </div>

</div>